<div class="modal-backdrop" *ngIf="visible" (click)="close.emit()">
  <div class="modal" (click)="$event.stopPropagation()">
    <h2>Criar nova tarefa</h2>
    <form #taskForm="ngForm" (ngSubmit)="submitForm()">
      <label>
        Título:
        <input [(ngModel)]="newTask.title" name="title" required />
      </label>

      <label>
        Descrição:
        <textarea
          [(ngModel)]="newTask.description"
          name="description"
          rows="4"
        ></textarea>
      </label>

      <label>
        Grupo:
        <select [(ngModel)]="newTask.groupId" name="groupId">
          <option [ngValue]="undefined">-- Nenhum grupo --</option>
          <option *ngFor="let group of taskGroups" [ngValue]="group.id">
            {{ group.title }}
          </option>
        </select>
      </label>

      <label>
        Início:
        <input
          type="date"
          [(ngModel)]="newTask.startDateTime"
          name="startDateTime"
        />
      </label>

      <label>
        Fim:
        <input
          type="date"
          [(ngModel)]="newTask.endDateTime"
          name="endDateTime"
        />
      </label>

      <label>
        Prioridade:
        <select [(ngModel)]="newTask.priority" name="priority" required>
          <option *ngFor="let priority of priorityList" [value]="priority">
            {{ priority }}
          </option>
        </select>
      </label>

      <label>
        Status:
        <select [(ngModel)]="newTask.status" name="status" required>
          <option *ngFor="let status of statusList" [value]="status">
            {{ status }}
          </option>
        </select>
      </label>

      <div class="modal-buttons">
        <button type="button" class="danger" (click)="close.emit()">
          Cancelar
        </button>
        <button
          type="submit"
          class="save-button"
          [disabled]="!taskForm.form.valid"
        >
          Salvar
        </button>
      </div>
    </form>
  </div>
</div>
