<!-- TÍTULO E BOTÃO DE NOVA TAREFA -->
<div class="titulo-container">
  <h2 class="titulo-grupo">
    {{
      activeGroupTitle === "Nenhum grupo"
        ? activeGroupTitle
        : "Grupo: " + activeGroupTitle
    }}
  </h2>
</div>

<div class="nova-tarefa-button">
  <button (click)="showModal = true">+ Nova tarefa</button>
</div>

<app-task-board
  *ngIf="tasks && tasks.length"
  [tasks]="tasks"
  [groupId]="groupId"
  [activeGroupTitle]="activeGroupTitle"
  [taskGroups]="taskGroups"
></app-task-board>

<!-- COMPONENTE MODAL -->
<app-new-task-modal
  [visible]="showModal"
  [taskGroups]="taskGroups"
  (close)="showModal = false"
  (create)="addTask($event)"
>
</app-new-task-modal>
